doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sort Simulation
        link(rel="stylesheet", href="../style.css")
    body 
        .wrapper
            .blocks
                - var counter = 1;

                while counter <= 10
                    .block(class = "block-" + counter)
                        .num= counter++
            .btns-and-explanation
                .default-actions
                    button.randomize.btn Перемешать
                    button.pause.btn Пауза/Продолжить
                .sorts
                    - var sorts = [{class: "bubble-sort", text: "Сортировка пузырьком"}, {class: "shaker-sort", text: "Шейкерная сортировка"}, {class: "custom-sort", text: "Персонализированная сортировка"}]
                    each i in sorts
                        button.sort.btn(class = i.class)= i.text
                .explanation
                    .explanation-checking.explanation-block
                        h1.explanation-checking-txt.explanation-block-txt= "Сравнение"
                    .explanation-changing.explanation-block
                        h1.explanation-changing-txt.explanation-block-txt= "Замена"

        script(src="../script.js") 

